.ChannelScaffold-innerLoadingWrapper {
    height: calc(100vh - var(--Scaffold-drawerWidth));
}

.ChannelScaffold-breadcrumbsLink {
    cursor: pointer;
}

.ChannelScaffold-breadcrumbs {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}